.color1{
    background-color: rgb(127, 244, 255);
    border: 1px; color: rgb(250, 251, 251);
}

.color2{background-color: green;
    border: 1px; color: rgb(250, 251, 251);

}

.color3{ background-color: blue;
    border: 1px; color: rgb(250, 251, 251);
}

.color4{ background-color: blueviolet;
    border: 1px; color: rgb(250, 251, 251);
}

.color5{ background-color: brown;
    border: 1px; color: rgb(250, 251, 251);
}

.color6{ background-color: pink;
    border: 1px; color: rgb(250, 251, 251);
}

.color7{ background-color: red;
    border: 1px; color: rgb(250, 251, 251);

}

.row > * {
    border: 1px solid white;
}